<h4>Education &amp; Learning</h4>
<small class="small-stuff">2001 - 2005</small>
<br>
<strong>Bachelor of Science in Biomedical Engineering*</strong>
<br>
<h6>Arizona State University</h6>
<br>
<small class="small-stuff">10/2016 - Present</small>
<br>
<strong>Meteor, Rails, Javascript, jQuery, React</strong>
<br>
<h6>Averaged 60 hours per week over previous eight months</h6>
<br>
<small class="small-stuff">2015 - 2016</small>
<br>
<strong>Notable Books</strong>
<p>Superintelligence | Bold | Methods of Rationality | Creativity, Inc | End of Power | Great Work of Your Life | Autobiography of Benjamin Franklin | Notes on Virginia | Beginning of Infinity</p>
