<h4>Education</h4>
<small>2003 - 2005</small>
<br>
<strong>Bachelor of Science in Biomedical Engineering</strong>
<br>
<strong>Arizona State University</strong>
<br>
<br>
<small>2001 - 2003</small>
<br>
<strong>Bachelor of Science in Chemical Engineering</strong>
<br>
<strong>Missouri State University</strong>
