<h4>Work Experience</h4>
<small class="small-stuff">08/2015 - Present</small>
<br>
<strong class="status">Investment Analyst</strong> <small>at</small> <strong>Matias Patrick Capital</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Perform due diligence for investment in fintech, healthcare, and entertainment projects.</p>

<br>
<small class="small-stuff">03/2016 - Present</small>
<br>
<strong class="status">Producer</strong> <small>at</small> <strong>I Eat Often</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Launching live cooking website and sell gourmet culinary products.</p>

<br>
<small class="small-stuff">12/2015 - Present</small>
<br>
<strong class="status">Partner</strong> <small>at</small> <strong>Poof Cotton Candy</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Source and secure machines and materials vital to company operations.</p>

<br>
<small class="small-stuff">12/2013 - 01/2015</small>
<br>
<strong class="status">Co-Founder</strong> <small>at</small> <strong>Bookbag</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Develop a mobile application to connect general public with corporate training opportunities.</p>
