<h4>Work Experience</h4>
<!-- Matias Patrick -->
<small class="small-stuff">08/2015 - Present</small>
<br>
<strong class="status">Project Analyst</strong> <small>at</small> <strong>Matias Patrick Capital</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Perform due diligence for investment opportunities in fintech, healthcare, and entertainment projects.</p>
<p>Organize investor events and new project pitches.</p>

<!-- I Eat Often
<br>
<small class="small-stuff">03/2016 - Present</small>
<br>
<strong class="status">Producer</strong> <small>at</small> <strong>I Eat Often</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Organize necessary personnel</p> -->

<!-- Poof Cotton Candy -->
<br>
<small class="small-stuff">03/2015 - Present</small>
<br>
<strong class="status">Partner</strong> <small>at</small> <strong>Poof Cotton Candy</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p>Involved in new product design, process design, social media implementation, and event coordination.</p>
<p>Source and secure machines and materials vital to company operations.</p>

<!-- Bookbag -->
<br>
<small class="small-stuff">06/2013 - 01/2015</small>
<br>
<strong class="status">Co-Founder</strong> <small>at</small> <strong>Bookbag</strong>
<br>
<small class="small-stuff">Role &amp; Responsibilities</small>
<p></p>
<p>Led with development of new business models, partnerships, and day-to-day operations of a mobile app development team.</p>
<p>Created a successful viral marketing campaign which leading to exponential user growth.</p>
<!--<p>Successfull negotiated a sale of personal equity to remaining partners and exited with a smile.</p>-->
