<h4>Work Experience</h4>
<small>08/2015 - Present</small>
<br>
<strong>Investment Analyst <small>at</small> Matias Patrick Capital</strong>
<br>
<small>Role &amp; Responsibilities</small>
<p>We did some stuff</p>
<small>Accomplishments</small>
<p>We did some stuff</p>
