<h4>Skills &amp; Competences</h4>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Problem Solving
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Critical Thinking
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Leadership
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Communication
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Team Building
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Goal Oriented
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
          Resiliency
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          HTML &amp; CSS
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Ruby on Rails
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          Meteor
     </div>
</div>
<div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          React
     </div>
</div>
