// #00dffc
// #008c9e
// #005f6b
// #343838

body {
     font-family: monospace;
     color: #343838;
}

.section-header {

}

.status {
     font-size: 1.5em;
}

.organization {

}

.small-stuff {
     color: #008c9e;
}

.contact-icon {
     color: #5bc0de;
     &:hover {
          color: rgba(#5bc0de, 0.84);
     }
}

.skill-color {
     background-color: #008c9e;
}

.progress-bar {
     text-align: left;
}

.progress-bar-info {

}
