<div class="row">
     <div class="col-xs-12 text-center">
          <h2>Peter O'Leary</h2>
          <p>Aiming to make the work a better place and hav e fun while doing it.</p>
          <%= link_to "#", class: "btn btn-link" do %>
               <i class="fa fa-envelope fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-link" do %>
               <i class="fa fa-wechat fa-2x"></i>
          <% end %>
          <%= link_to "https://en.wikipedia.org/wiki/Shanghai", class: "btn btn-link" do %>
               <i class="fa fa-linkedin fa-2x"></i>
          <% end %>
          <%= link_to "https://en.wikipedia.org/wiki/Shanghai", class: "btn btn-link" do %>
               <i class="fa fa-map-marker fa-2x"></i>
          <% end %>
     </div>
</div>
