<div class="row">
     <div class="col-xs-12 text-center">
          <h2>Peter O'Leary</h2>
          <p>Determined to be an integral asset to a rocket ship by combining high-level sciences with people mastery and fun.</p>
          <button type="button" class="btn btn-link" data-toggle="email-tooltip" data-placement="bottom" title="pistoleary@gmail.com">
               <i class="fa fa-envelope fa-2x contact-icon"></i>
          </button>

          <button type="button" class="btn btn-link" data-toggle="wechat-tooltip" data-placement="bottom" title="two34567">
               <i class="fa fa-wechat fa-2x contact-icon"></i>
          </button>

          <button type="button" class="btn btn-link" data-toggle="phone-tooltip" data-placement="bottom" title="(+86)159.6693.0201">
               <i class="fa fa-phone fa-2x contact-icon"></i>
          </button>

          <button type="button" class="btn btn-link" data-toggle="skype-tooltip" data-placement="bottom" title="peter.g.oleary">
               <i class="fa fa-skype fa-2x contact-icon"></i>
          </button>

          <button type="button" class="btn btn-link" data-toggle="loc-tooltip" data-placement="bottom" title="Shanghai">
               <i class="fa fa-map-marker fa-2x contact-icon"></i>
          </button>

          <button type="button" class="btn btn-link" data-toggle="heart-tooltip" data-placement="bottom" title="New Orleans">
               <i class="fa fa-heart fa-2x contact-icon"></i>
          </button>

     </div>
</div>
